// Importing variables
@import "./variables.scss";

// Importing Bulma from node_modules
@import "~bulma/bulma.sass";

body {
  font-size: 1.1rem;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background-color: $light-gray;
  background-image: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .95)),
  url(../images/illustration-of-web-design-template-vector.jpg);
}

h1,h2,h3,h4,h5 {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

section.section {
  padding: 7rem 1.5rem;
}
@media only screen and (min-width: 1300px) {
  #about-me,
  .section.services {
    padding: 8rem;
  }
}
p {
  margin-bottom: 1rem;
}

p.lead {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 1.2rem;
}

.bottom-line {
  width: 80px;
  height: 2px;
  margin: 5px auto 0;
  display: inline-block;
  background:
  #bcbcbc;
}

main a {
  color: $content-link;
}

article {
  max-width: 1000px;
  margin: 0 auto;
  h2 {
    font-size: 2rem;
    color: #363636;
  }
  h3 {
    font-size: 1.5rem;
  }
  h2,
  h3,
  h4 {
    color: #363636;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
}


.blog-list {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-wrapper {
  width: 100%;

  .modal-link {
    color: $link;
    cursor: pointer;
    &:hover {
      color: $content-link;
    }
  }
}
.modal.is-active {
  .modal-card {
    .modal-card-body {
      cursor: default !important;

      img {
        max-height: 250px;
        margin: 0 auto;
        display:block;
      }
    }
  }
}

.projects-wrap {
  padding: 4rem 0;
}

.post-card {
  padding: 0;
  box-shadow: 0 10px 10px -10px #ccc;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  max-width: 400px;
  float: left;
  position: relative;
  top: 0;
  transition: all 0.25s ease 0s;

  @media only screen and (max-width: 768px) {
    margin: 0 auto 2rem auto;
    float: none;
  }
  .title a {
    color: $link;

    &:hover {
      color: $content-link;
    }
  }
}
@media screen and (min-width: 1088px) {
  .post-card.column.is-one-third-desktop {
    width: calc(33.3333% - 2rem);
  }
}

.project-card:hover,
.post-card:hover {
  cursor: pointer;
}

.slider-control-bottomcenter {
  bottom: 40px !important;
  z-index: 10000;
}
.slider-control-centerright button,
.slider-control-centerleft button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.8rem;
  color: #fff;
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
}
.slider-control-centerright {
  @media only screen and (max-width: 1023px) {
    right: 15px !important;
  }
  @media only screen and (max-width: 500px) {
    right: 5px !important;
  }
}
.slider-control-centerleft {
  @media only screen and (max-width: 1023px) {
    left: 15px !important;
  }
  @media only screen and (max-width: 500px) {
    left: 5px !important;
  }
}

.columns.blog-list {
  justify-content: center;
}

.blog-list .post-card {
  &:hover {
    top: -10px;
    box-shadow: rgba(0,0,0,0.2) 0px 12px 16px;
  }
  .post-cover {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
  
    a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
    }
  }
  .post-excerpt {
    background-color: #fff;
    padding: 1rem 1.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    .title {
      font-size: 1.5rem;
    }
    p:not(:last-child) {
      margin-bottom: 1rem;
    }
    
    .blog-list .post-card .post-excerpt .excerpt {
      flex-grow: 1;
    }
  }
}


footer {
  padding-top: 1.75rem;

  .section {
    padding: 0 1.5rem;
  }
}

.list-style-circle {
  list-style-type: circle;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;

  @media only screen and (max-width: 768px) {
    padding: 0;
    list-style-type: none;
  }

  li h3 {
    font-weight: 500;
  }
}


/* Taylor's edits */
.display-none {
  display: none;
}

.flex {
  display: flex;
}

.is-fixed-top nav.navbar {
  background-color: #fff;
}
.navbar-item .logo-main,
.navbar-item .logo-sticky {
  max-height: 100px;
}
.navbar-item .logo-main {
  width: 85px;
  animation: logoResizeDown 350ms ease-out;
}
.navbar-item .logo-sticky {
  display: none;
  width: 100px;
  animation: logoResizeUp 350ms ease-out;
  @media only screen and (max-width: 500px) {
    width: 70px;
  }
}
.is-fixed-top .logo-main {
  display: none;
}
.is-fixed-top .navbar-item .logo-sticky {
  display: block;
}
/* end */

.custom-bg {
  height: 100%;
  width: 100%;

  img {
    height: 100%;
    width: auto;
  }
}
.hero-wrapper {
   height: 97vh;
}

.hero,
.hero.is-medium {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.1)),
    url(../images/lakeMI-sm.jpg) !important; 
   background-size: cover !important;
   background-repeat: no-repeat !important;
  background-color: transparent;
  height: 97vh;
  min-height: 600px;
  

  .hero-area {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background:
    rgba(0,0,0,.7);
    z-index: 0;
    width: 100%;
    height: 100%;
    
  }

  .hero-body {
    padding: 6rem 0;


    @media only screen and (max-width: 1000px) and (max-height: 700px) {
      padding-top: 2rem;
    }
    @media only screen and (max-width: 768px) {
      text-align: center;
      padding-top: 1rem;
    }

    .section {
      padding-bottom: 0;
      @media only screen and (max-width: 768px) {
        margin: 0 .5rem 0 .5rem;
      }
      @media only screen and (max-width: 400px) {
        padding: 3rem .5rem 0 .5rem;
      }
      
      .action-buttons {
        margin: 40px 0;
     
      }
      
      .hero-avatar-wrap {
        position: relative;
        
        @media only screen and (max-width: 768px) {
          margin-bottom: 0;
        }
      
        img {
          position: absolute;
          bottom: 0.75rem;

          @media only screen and (max-width: 768px) {
            position: relative;
            bottom: -0.4rem;
          }
        }
      }
    }
  }
}

.img-rounded {
  border-radius: 100%;
}

h2.site-title {
  font-size: 1rem;
}

.text-orange {
  color: #ff3300;
}
.text-white {
  color: #fff;
}
.text-d-blue {
  color:  $dark-blue;
}
.center-vertically {
  display: flex;
  justify-content: center;
  align-items: center;   
}

.white-bg {
  background-color: #fff;
  z-index: 5;
}


/* nav */
.navbar.not-homepage {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)),
  url(../images/nav-sm2.png);
  padding-top: 20px;
  background-position: center;
  background-size: cover;
  transition: all 150ms ease-out;
  .navbar-menu {
    .navbar-item {
      color: $dark-blue;
      &:hover {
        color: #fff;
        transition: all 150ms ease-out;
      }
    }
  }
}

.navbar { 
  .navbar-menu {
    @media only screen and (max-width: 1023px) {
      background-color: #fff;
      background-color: rgba(255, 255, 255, .45);
    }
    .navbar-item {
      font-family: 'Montserrat', Helvetica, sans-serif;
      font-size: 1rem;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;

      &:hover {
        color: $orange;
        transition: all 150ms ease-out;
      }

      @media only screen and (max-width: 1023px) {
        color: $dark-blue;
      }
    }
  }
}
.is-fixed-top {
  .navbar { 
    .navbar-item {
        color: $dark-blue;

        &:hover {
          color: $orange;
          transition: all 150ms ease-out;
        }
    }
  }
  .navbar.not-homepage {
    background-image: none;
    .navbar-menu {
      .navbar-item {
        color: $dark-blue;
        &:hover {
          color: #ff3300;
          transition: all 150ms ease-out;
        }
      }
    }
  }
}
/* nav animation */
a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  background-color: transparent;
}

.navbar-item:before { left: 0; }
.navbar-item:after { right: 0; }

.navbar-item:hover:before, .navbar-item:hover:after {
  width: 50%;
}

.navbar-item:before, .navbar-item:after {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.navbar-brand {
  .navbar-item:before, .navbar-item:after {
    border-bottom: none;
  }
}

/* About Me Section */
#about-me {
  .about-me-text {

    @media only screen and (max-width: 768px) and (min-width: 500px) {
      text-align: center;
    }
    h4 {
      color: $light-gray;
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: .5rem;
    }
  }
  .about-me-img {
    text-align: right;
    @media only screen and (max-width: 768px) and (min-width: 500px) {
      margin-top: 5rem;
      text-align: center;
    }
    @media only screen and (max-width: 500px) {
      text-align: center;
      margin-top: 5rem;
    }
    img {
      max-width: 350px;
      @media only screen and (max-width: 400px) {
        max-width: 100%;
      }
    }
  }
}

/* Services Section */
.services-wrap {
  
  .services {
    h3 {
      margin-bottom: 0;
      @media only screen and (max-width: 500px) {
        text-align: left !important;
      }
    }
    p.has-text-centered {
      @media only screen and (max-width: 500px) {
        text-align: left !important;
      }
    }
    .cartoon-avatar {
      max-width: 200px;
    }
    .services-intro {
      text-align: center;
      @media only screen and (max-width: 500px) {
        text-align: left;
      }
    }
    .projects-n-favorites {
      @media only screen and (max-width: 768px) {
        max-width: 65%;
        margin: 0 auto;
      }
      @media only screen and (max-width: 500px) {
        max-width: 100%;
      }
      .flex {
        margin-bottom: 1rem;
        @media only screen and (max-width: 500px) {
          flex-direction: column;
        }
        .favorite-label {
          display: block;
          width: 170px;
          font-size: 90%;
          font-weight: 600;
          @media only screen and (max-width: 500px) {
            width: 100%;
          }
        }
      }
    }
    ul.list-style-circle {
      display: block;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 0;
      margin-right: 0;
      padding-left: 40px;

      @media only screen and (max-width: 768px) {
        list-style-type: circle;
      }
    }
    ul ul {
      margin: 0;
      @media only screen and (max-width: 768px) {
        list-style-type: circle;
        padding-left: 1.5rem;
      }
    }
  }
  .other-plugins-list {
    justify-content: space-evenly;
    margin-bottom: 1rem;
    @media only screen and (max-width: 768px) { 
      flex-wrap: wrap;
    }
    li {
      @media only screen and (max-width: 768px) { 
        margin: 1rem;
      }
    }
  }
}

.cta-buttons {
 margin-top: 2rem;

  a.button {
    color: #fff;
    font-size: 1.1rem;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 500;
    height: 45px;
    padding: 0 1rem;
    margin-right: 1rem;
    background-color: transparent;
    border: 2px solid;

    @media only screen and (max-width: 500px) {
      margin-bottom: 1rem;
    }
  }
  a.button.bg-dark-blue {
    background-color: $dark-blue;
    border-color: $dark-blue;
    color: #fff;
  }
  a.button.blue-bg-trans {
    border-color: $dark-blue;
    color: $dark-blue;

    &:hover {
      color: #fff;
      transition: color 150ms ease-out;
    } 
  }

  .button {
    min-width: 150px;
    max-width: 250px;
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
  }

  .button--ujarak {
    -webkit-transition: border-color 0.4s, color 0.4s;
    transition: border-color 0.4s, color 0.4s;
  }
  .button--ujarak::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #37474f;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }

  .button--ujarak.button--inverted::before {
    background: #fff;
  }
  .button--ujarak,
  .button--ujarak::before {
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
  .button--ujarak:hover {
    color: $dark-blue;
    border-color: #37474f;
  }
  .button--ujarak.button--inverted:hover {
    color: $dark-blue;
    background-color: $dark-blue;
    border-color: $dark-blue;
  }
  .button--ujarak.button--inverted:hover::before {
    background-color: #fff;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .button--ujarak:hover::before {
    background-color: $dark-blue;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .button--ujarak.hover-trans:hover {
    color: $dark-blue;
    background-color: transparent;
    border-color: $dark-blue;
  }
  .button--ujarak.hover-trans:hover::before {
    background-color: rgba(255, 255, 255, .1);
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
  


/* animations */
@keyframes logoResizeUp {
	0% { 
    width: 85px; 
  }
	100% { 
    width: 100px;
  }
}
@keyframes logoResizeDown {
	0% { 
    width: 100px; 
  }
	100% { 
    width: 85px;
  }
}


/* slider */
#testimonial {
  .testimonial-area-wrap {
    height: 100%; 
    width: 100%;
    .testimonial-area {
      background-image: linear-gradient(rgba(0,0,0,.2), rgba(4, 12, 44, .5));
      height: 100%; 
      width: 100%;
      .slider-slide {

        &:focus {
          outline: none;
        }
        .testimonial-slide {
          height: 500px;
          width: 100%;         

          .card-wrap {  
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;   
            &:focus {
              outline: none;
            }

            .card {
              height: 100%;
              background-color: transparent;
              color: #fff;
              box-shadow: none;
              display: flex;
              align-items: center;
              justify-content: center;

              .testimonial-content {
                max-width: 500px;
                margin: 0 auto;
                text-align: justify;
                @media only screen and (max-width: 550px) {
                  max-width: 75%;
                  text-align: center;
                }
                p {
                  font-size: 1.3rem;
                  @media only screen and (max-width: 500px) {
                    font-size: 1.1rem;
                  }
                }
                h4 {
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  
  }
}

#work-together-form {
  .select {
    margin-bottom: 10px;
  }
}