// Importing variables
@import "./variables.scss";

// Importing Bulma from node_modules
@import "~bulma/bulma.sass";

body {
  font-size: 1.1rem;
}

p {
  margin-bottom: 1rem;
}

main a {
  color: $content-link;
}

article h2 {
  font-size: 2rem;
  color: #363636;
}

article h3 {
  font-size: 1.5rem;
}

article h2,
article h3,
article h4 {
  color: #363636;
  font-weight: 600;
  margin-bottom: 1rem;
}

article ul {
  display: block;
  list-style-type: disc;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.blog-list {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-wrapper {
  width: 100%;

  .modal-link {
    color: $link;
    cursor: pointer;
    &:hover {
      color: $content-link;
    }
  }
}

.post-card {
  padding: 0;
  box-shadow: 0 10px 10px -10px #ccc;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  float: left;
  position: relative;
  top: 0;
  transition: all 0.25s ease 0s;

  @media only screen and (max-width: 768px) {
    margin: 0 0 2rem 0;
  }
  .title a {
    color: $link;

    &:hover {
      color: $content-link;
    }
  }
}
@media screen and (min-width: 1088px) {
  .post-card.column.is-one-third-desktop {
    width: calc(33.3333% - 2rem);
  }
}
.blog-list .post-card:hover {
  top: -10px;
  box-shadow: rgba(0,0,0,0.2) 0px 12px 16px;
}

.blog-list .post-card .post-cover {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
}

.blog-list .post-card .post-cover a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.blog-list .post-card .post-excerpt {
  padding: 1rem 1.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: calc(100% - 250px);
  display: flex;
  flex-direction: column;
}

.blog-list .post-card .post-excerpt .title {
  font-size: 1.5rem;
}

.blog-list .post-card .post-excerpt p:not(:last-child) {
  margin-bottom: 1rem;
}

.blog-list .post-card .post-excerpt .excerpt {
  flex-grow: 1;
}

footer {
  padding-top: 1.75rem;

  .section {
    padding: 0 1.5rem;
  }
}

.list-style-circle {
  list-style-type: circle;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;

  @media only screen and (max-width: 768px) {
    padding: 0;
    list-style-type: none;
  }

  li h3 {
    font-weight: 500;
  }
}


/* Taylor's edits */
.display-none {
  display: none;
}
.hero,
.hero.is-medium {
  background-image: linear-gradient(#fff, rgba(255, 255, 255, .8)),
  url(../images/illustration-of-web-design-template-vector.jpg);

  background-color: rgba(255, 255, 255, .9);
  border-bottom: 1px solid #ccc;
  .hero-body {
    padding-top: 2rem;
    padding-bottom: 0;

    @media only screen and (max-width: 768px) {
      text-align: center;
      padding-top: 1rem;
    }

    .section {
      padding-bottom: 0;
      @media only screen and (max-width: 768px) {
        margin: 0 .5rem 0 .5rem;
      }
      @media only screen and (max-width: 400px) {
        padding: 3rem .5rem 0 .5rem;
      }
      
      .action-buttons button.button {
        background-color: #2563ff;
        color: #fff;
        margin: 0 .5rem 2rem 0rem;
      }
      
      .hero-avatar-wrap {
        position: relative;
        
        @media only screen and (max-width: 768px) {
          margin-bottom: 0;
        }
      
        img {
          position: absolute;
          bottom: 0.75rem;

          @media only screen and (max-width: 768px) {
            position: relative;
            bottom: -0.4rem;
          }
        }
      }
    }
  }
}

.img-rounded {
  border-radius: 100%;
}

.site-title {
  color: #363636;
  font-family: 'Parisienne', 'Times New Roman', Times, serif;
  font-size: 3rem;
}

h2.site-title {
  font-size: 1rem;
}

.text-orange {
  color: #ff3300;
}

.center-vertically {
  display: flex;
  justify-content: center;
  align-items: center;   
}

.gray-bg {
  background-color: #f3f3f3;
  z-index: 5;
}

/* nav */
.navbar.not-homepage {
  background-image: linear-gradient(#fff, rgba(255, 255, 255, .8)),
  url(../images/illustration-of-web-design-template-vector.jpg);
  
  background-color: rgba(255, 255, 255, .9);
  border-bottom: 1px solid #ccc;
  padding-bottom: 50px;
}

.text-blue {
  color: #2563ff;
}

/* nav animation */
a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  background-color: transparent;
}
.navbar-item:before, .navbar-item:after {
  content: '';
  border-bottom: solid 1px #ff3300;
  position: absolute;
  bottom: 0;
  width: 0;
}

.navbar-item:before { left: 0; }
.navbar-item:after { right: 0; }

.navbar-item:hover:before, .navbar-item:hover:after {
  width: 50%;
}

.navbar-item:before, .navbar-item:after {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.navbar-brand {
  .navbar-item:before, .navbar-item:after {
    border-bottom: none;
  }
}

/* Services Section */
.services-wrap {
  background-image: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .95)),
  url(../images/illustration-of-web-design-template-vector.jpg);
  .services {
    .cartoon-avatar {
      max-width: 200px;
    }
    ul.list-style-circle {
      display: block;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 0;
      margin-right: 0;
      padding-left: 40px;

      @media only screen and (max-width: 768px) {
        list-style-type: circle;
      }
    }
    ul ul {
      margin: 0;
      @media only screen and (max-width: 768px) {
        list-style-type: circle;
        padding-left: 1.5rem;
      }
    }
  }
}
