// VARIABLES

$primary: #192532;
$primary-invert: #ff3300;

$dark-blue: #040c2c;
$light-blue: #2563ff;

$pagination-current-background-color: #192532;
$pagination-current-border-color: #192532;
$pagination-focus-border-color: #192532;

$link: #25274D ;
$content-link: #2563ff;

$light-gray: #999;
