// VARIABLES

$primary: #192532;
$primary-invert: #ff3300;

$pagination-current-background-color: #192532;
$pagination-current-border-color: #192532;
$pagination-focus-border-color: #192532;

$link: #25274D ;
$content-link: #2563ff;