// VARIABLES

$primary: #192532;
$primary-invert: #E85A4F;

$pagination-current-background-color: #192532;
$pagination-current-border-color: #192532;
$pagination-focus-border-color: #192532;

$link: #25274D ;
